@{
    Page.Title = "DEE & TEE TREE SERVICE";
    Layout = "~/Layout/Layout.cshtml";

}

<h3>Services </h3><br />

<div class="content">
    <form action="/" method="post">
        <div>
            <p>TREE REMOVAL</p>

            In Seattle, Tree Removal can be a tough business, especially when one has <br />
            to assess the tree. Our licensed arborist knows just what to look for when <br />
            evaluating the health of your tree and have been professionally trained in<br />
            the safest and most efficient way to remove any tree should it need removal.<br />
            We also perform Stump Grinding, leaving your yard beautiful and like it never was even there.
            
            <br /><br />
            <p>STUMP GRINDING</p>

            Stump grinding is the process of removing a stump that is currently lodged in the <br />
            ground through the use of a machine called a “stump grinder.” This machine has a <br />
            large heavy duty wheel-blade with sharp teeth. The blade spins around rapidly until<br />
            the stump is “ground” out. The stump grinder works like a chipper at ground level.<br />
            We make passes back and forth over and through the stump with the machine until the stump <br />
            is ground 4-12 inches below the surface.
            
            <br /><br />
            <p>FIREWOOD</p>

            Looking for a nice hot fire to keep you warm during the winter, give us a call. 
        </div>
    </form>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />