<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <title>AboutUs</title>
        <link rel="stylesheet" type="text/css" href="~/StyleSheet.css" />
        <script src="JavaScript_Login.js" type="text/javascript"></script>
        <script src="JavaScript_OrderForm.js" type="text/javascript"></script>
        <script src="JavaScriptContact.js" type="text/javascript"></script>
        <script src="JavaScriptSignup.js" type="text/javascript"></script>
    </head>
    <body>
        @RenderPage("~/Shared/header.cshtml")  
        @RenderBody()
        @RenderPage("~/Shared/footer.cshtml")
    </body>
</html>
