@{
    Page.Title = "DEE & TEE TREE SERVICE";
    Layout = "~/Layout/Layout.cshtml";


}


<h3>Home</h3>


<div class="content">
<h3>Serving These Areas</h3>
    <p>Bellevue</p>
    <p>Seattle</p>
    <p>Renton</p>
    <p>Redmond</p>
</div>

    
<div>
    <form>
        <div>
            <p><h2>How To Tell If Its Time For Your Tree To Go</h2></p><br />
        </div>

        <input class="MyButton" type="button" value="Learn More" onclick="window.location.href='http://treeinspection.com'" />
    </form>
</div>