<div class="footer">
    <p>
        Dee&Tee Tree Services<br />
        Located on a Street<br />
        In a City<br />
        Washington<br />
        Contact Number: 1-800-xxx-xxx

    </p>
</div>
