<form action="#">
    <div>
        Username: <input type="text" id="user" name="user" placeholder="Username" />
        Password: <input type="text" id="psw" name="password" placeholder="Password" />
        <input type="submit" name="submit" value="Login" onclick="return loginValidation();" />
        Not a member? <input type="button" name="" value="Create Account" onclick="window.location.href='SignUpPage.html'" />
    </div>

</form>
 
